#contacts {
  text-align: center;
  background-color: #ffffff;
}

.h2-contacts {
  padding-top: 114px;
  font-size: 34px;
}

.p-contacts {
  padding-top: 24px;
  font: 18px;
}

#black-button {
  margin-top: 30px;
  border: 1px solid #070707;
  color: #ffffff;
  background-color: #070707;
  font-size: 18px;
  width: 180px;
  height: 42px;
  border-radius: 30px;
}

.redes-sociales {
  padding-top: 86px;
}

.red-s {
  padding-right: 61px;
  padding-top: 81px;
}
