.menu_items {
  display: inline-block;
  font-family: "Gillroy Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  padding: 33px 0;
}

.menu_items a {
  margin-right: 150px;
}

.menu_items:nth-child(5) a {
  margin-right: 0;
}

hr {
  width: 940px;
  margin: auto;
}
