.portaf {
  text-align: center;
  padding-top: 113px;
  font-size: 34px;
}

.woman {
  padding-top: 47px;
}

.p-woman {
  text-align: center;
  padding-top: 43px;
  font-size: 21.83px;
  text-decoration: underline;
}
