@import url("./font.css");
@import url("reset.css");
@import url("./header.css");
@import url("./home.css");
@import url("./aboutme.css");
@import url("./Skill.css");
@import url("./portafolio.css");
@import url("./contacts.css");
@import url("./footer.css");

body {
  font-family: "Gillroy Medium", Arial, Helvetica, sans-serif;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #828282;
}

.container {
  max-width: 940px;
  box-sizing: content-box;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

#footer {
  padding: 46px 0 123px 0;
}
