@import url("./font.css");
@import url("./header.css");

body {
  font-family: "Gillroy Medium", Arial, Helvetica, sans-serif;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #828282;
}

.conteiner {
  max-width: 940px;
  box-sizing: content-box;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}
